/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
$Roboto:'Roboto',
sans-serif;

/* variables */
$grey: #adadad;
$light-grey: #ececec;
$dark-grey: #727272;
$info-red: #b10000;